<!DOCTYPE html>
<meta charset="UTF-8">
<html>
	{% extends "base.html" %}
	{% block content %}
	{% if session['logged_in'] %}
		{% if data %}
			<h3>{{ data }}</h3>
		{% else %}
		<center><div>
			<a href="/logout">Logout</a><br><br>
			<form action="" method="POST">
			  <input type="username" name="username" placeholder="Blog id">
			  <input type="submit" value="Open">
			</form>
		</div></center>
		{% endif %}

	{% else %}
	<center><div>
		<p>로그인하지 않은 상태입니다. </p>
		<p>서비스를 이용하려면 로그인해주세요.</p>
		<a href="/login">Login</a> 
		<a href="/register">Register</a>
	</div></center>
	{% endif %}
	{% endblock %}
</html>