<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>ftp_page</title>
  </head>
    
  <body>
    <center><h1>FTP Server</h1></center>
    <hr width="100%" color="black"/>

    <center>
    <form>
    <img src="{{ url_for('static',filename='images/upload.png') }}", width="50" 
        style="margin-left: auto; margin-right: auto; display: block;")/>
    <a href="./upload">파일 업로드</a><br><br><br>

    <img src="{{ url_for('static',filename='images/list.png') }}", width="50" 
        style="margin-left: auto; margin-right: auto; display: block;")/>
    <a href="./list">파일 목록</a><br><br><br>
    </form>
    </center>
  </body>
</html>
