#email-form {
    width:400px;
    height: auto;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 30px 130px;
}

#email-form input, #email-form label, #email-form textarea{
    display: block;
}

#email-form input{
    margin-top: 5px;
    margin-left: 5px;
}

#email-form label{
    margin-top: 5px;
}

#email-form textarea{
    margin-top: 5px;
    margin-left: 5px;
}

#email-form input[type='submit']{
    margin: 5px auto;
}

#message {
	width:700px;
	height: 700px;
	border: 2px solid gray;
	border-radius: 5px;
	margin: 30px 120px;
}