#btn {
   background-color: #c47135;
   border: none;
   color: #ffffff;
   cursor: pointer;
   display: inline-block;
   font-family: 'BenchNine', Arial, sans-serif;
   font-size: 1em;
   line-height: 1em;
   margin: 15px 40px;
   outline: none;
   position: relative;
   font-weight: 700;
   white-space:nowrap;
}

#btn:before,
#btn:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

#btn:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
#btn:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
#btn:hover,
#btn:hover {
  background-color: #c47135;
}
#btn:hover:before,
#btn.hover:before,
#btn:hover:after,
#btn.hover:after {
  height: 100%;
  width: 100%;
}

#message {
    width:500px;
    height: 400px;
    border: 2px solid gray;
    border-radius: 5px;
}

/* login form */
#login-form {
    width:300px;
    border: 2px solid gray;
    border-radius: 5px;
}

#login-form input, #login-form label{
    display: block;
}

#login-form label{
    margin-top: 10px;
}

#login-form input{
    margin-top: 5px;
}

#login-form input[type='submit']{
    margin: 10px auto;
}

/* register-form */
#register-form {
    width:300px;
    border: 2px solid gray;
    border-radius: 5px;
}

#register-form input, #register-form label{
    display: block;
}

#register-form label{
    margin-top: 0px;
}

#register-form input{
    margin-top: 0px;
}

#register-form input[type='submit']{
    margin: 5px auto;
}